@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 25px;
   
}
nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    top: 0%;
}
nav ul :hover{
    color:#ff6347 ;
    transition: all .3s ease-in-out;
    cursor: pointer;

}
nav button{
    background: #D01C28;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 10%;
    

}